body {
  background-color: #f8fcfd;
}

h1,
h2,
h3 {
  text-align: center;
}

h3 {
  font-size: 20px;
  line-height: 2px;
}

h4 {
  font-size: 18px;
}

a {
  font-size: 16px;
  color: #181510;
}

section {
  margin: 0 auto;
  width: 80%;
  background-color: #f6e9c9;
}

.first-element {
  background-color: lightblue;
}

.second-element {
  background-color: goldenrod;
}


/*Block element: Take up the entire space-goes all the way across the page, 
each starts on a new line

 Inline element: The elements will all be within the same line, only take up as much width as they need 
 Display:Block:  Make the image start on new line, take up entire width of the page, even though you only see the image and the rest is invisible
 
 
 Display-none: whatever it is is hidden- there is an unordered list which is hidden*/


/* Sets display of all elements with class selector to block */
 .display-block {
  display: block;
}

/* Sets display of all elements with class selector to inline */
.display-inline {
  display: inline;
}

/* Sets display of all elements with class selector to inline */
.display-none {
  display: none;
}
