* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
}

header {
  padding: 40px;
  text-align: center;
  background: #13293d;
  color: #fff;
}

nav {
  display: flex;
  background-color: #d8a47f;
  justify-content:right;
  /* or instead of "right", do "end" */
}

nav a {
  color: #13293d;
  padding: 14px 20px;
  text-decoration: none;
  text-align: left;
}

footer {
  padding: 20px;
  text-align: center;
  background: #13293d;
  color: #fff;
  margin-top: auto;
}

.product {
  display: flex;
  width: 90%;
  margin: 1% auto;
}

.product button {
  font-size: 150%;
}

.product-slideshow {
  display: flex;
  align-items: center;
  /* align center moves the items so that instead of the photo being
  at the top of the container, it is in
  the center with the buttons centered on it as well --- 
  ---they are all centered along the height/column axis */
}

.product-image {
  width: 100%;
}

.product-details {
  margin-left: 3%;
  flex: 0 0 60%;
}

@media screen and (max-width: 768px) {
  main,
  nav,
  .product {
    flex-direction: column;
  }

  .product-slideshow button {
    /* Removes the slideshow buttons from the document flow - 
    if you get rid of display none, the buttons wont disappear when the page
    gets smaller*/
    display: none;

  }

  .product-details {
    margin-left: 0;
  }
}
